@use "src/styles/mixins" as *;

.detail {
    padding-bottom: 119px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &_left {
        width: 461px;
    }

    &_right {
        padding-left: 47px;
    }

    &_name {
        font-family: "Avenir Roman";
        font-size: 24px;
        font-weight: 300;
        color: $BLACK;
        margin: 0;
    }

    &_designed {
        font-family: "Avenir Roman";
        font-size: 15px;
        font-weight: 600;
        color: $BLACK;
    }

    &_price_value {
        text-decoration: line-through;
    }

    &_special_price {
        color: $RED;
        margin-left: 10px;
    }

    &_label {
        font-size: 13px;
        font-weight: 400;
        margin: 8px 0 16px 0;
    }
}