@use "src/styles/mixins" as *;

.cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 119px;
  width: 100%;

  &_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &_header {
    font-size: 30px;
    height: 41px;
    border-bottom: 1px solid $GRAY;
    margin-top: 0;
    margin-bottom: 62px;
  }

  &_right {
    width: 510px;
    border: 1px solid $BLACK;
    border-radius: 4px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
  }

  &_total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
  }

  &_order {
    font-size: 14px;
    font-weight: 600; 

    span {
      color: $RED;
    }
  }

  &_checkout {
    width: 100%;
    margin: 32px 0;
  }

  &_empty {
    font-size: 20px;
  }

  @include desktop {
    &_body {
      flex-direction: row;
      align-items: flex-start;
    }

    &_right {
      width: auto;
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
      align-items: flex-start;
      justify-content: space-between;
      position: sticky;
      top: 100px;
    }
  }
}
